.Home {
    margin: 0 auto;
    margin-bottom: 20px;
}
.Home h1 {
    text-align: center;
}
.Home p {
    font-size: 1.5rem;
    color: #777;
}

.Home a {
    text-decoration: none;
    color: navy;
}

.Home a:hover {
    color: plum;
}